{{ form_start(form) }}

    <div class="c-form-row">
        {{ form_label(form.title, 'Title', {
                'label_attr': {'class': 'c-form__label m-blink-shadow-colour__text'}
            })
        }}
        {{ form_widget(form.title, {
                'attr': {'class': 'c-form__field m-align-c'}
            })
        }}
    </div>

    <button class="c-button m-button-glow m-add-req">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
