{% extends 'base.html.twig' %}

{% block title %}Shows{% endblock %}

{% block body %}

    {# Navigation Menu #}
    {% include 'modules/nav.html.twig' %}

    <h1 class="c-show-title m-blink-shadow-colour__header" >{{ show.title|replace({'_': ' '}) }}</h1>

    {# Genre Tokens #}
    <div class="c-show-genre--genre-container">
        {% include 'modules/genre_boxes.html.twig' with { 'genres': show_details.Genre|split(',') } %}
    </div>

    {# Show Synopsis #}
    <p class="c-show-plot m-blink-shadow-colour__text">{{ show_details.Plot }}</p>
    
    {# Iterate through episodes in a show #}
    {% set prevSeason = null %}

    <div class="c-season-container">

        {% for ep2 in episodes %}
            {# If the current episodes season doesn't equal the season of the episode before, print the new season header #}
            {% if ep2.season != prevSeason %}

                <div class="sub-season season-{{ ep2.season }}">
                    <ul class="c-episode-list">
                        <li class="c-season-list__header m-blink-shadow-colour__header"> Season {{ ep2.season }} </li>

                        {% for ep in episodes %}
                            {% if ep.season == ep2.season %}

                                <li class="c-episode-list__title m-blink-shadow-colour__text" id="episode-{{ ep.id }}">
                                    <a href="{{ path('show_episodes_show', {'id': ep.id}) }}" class="c-episode-list__link m-remove-underline"> 
                                
                                        <span class="c-episode-list__epi-info m-blink-shadow-colour__header"> S{{ep.season}}E{{ep.episode}}{{ep.episodePart}} </span> 

                                        {# Video Star Rating #}
                                        <div class="c-player-rating m-blink-shadow-colour__yellow">
                                            {% for ctr in 1..5 %}
                                                {% if ctr <= ep.rating %}
                                                    <i class="fas fa-star c-star m-align-c"></i> 
                                                {% else %}
                                                    <i class="far fa-star c-star m-align-c"></i> 
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        
                                        {{ ep.title|length > 20 ? ep.title|slice(0, 18)|replace({'_': ' '}) ~ '...' : ep.title|replace({'_': ' '}) }}
                                        
                                    </a>
                                </li>

                            {% endif %}
                        {% endfor %}

                        {% set prevSeason = ep2.season %}

                    </ul>
                </div>

            {% endif %}
        {% endfor %}

    </div>
{% endblock %}



