<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name=viewport content="width=device-width, initial-scale=0.5">

        <title>
            {% block title %}Welcome!{% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('new_style.css') }}">
            <script src="https://kit.fontawesome.com/9f521c94de.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

        {% endblock %}
    
    </head>
    <body>        
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/getMediaDetails.js') }}"></script>
            <script src="{{ asset('js/getEpisodeDetails.js') }}"></script>
            <script src="{{ asset('js/devScripts.js') }}"></script>
        {% endblock %}
    </body>
    
</html>
