{% extends 'base.html.twig' %}

{% block title %}Tickets index{% endblock %}

{% block body %}
    {% include 'modules/nav.html.twig' %}
        <div class="m-align-c" id="new-req-btn">
            <a href="{{ path('tickets_new') }}" class="c-add-req__link m-remove-underline c-button m-button-glow">
                <i class="fas fa-cart-plus"></i> New Request
            </a>
        </div>

        {# <div>
            <a href="{{ path('tickets_new') }}" class="c-add-req__link m-remove-underline ">
                <div class="c-button m-add-req m-button-glow"> 
                    <i class="fas fa-cart-plus"></i> New Request
                </div>
            </a>
        </div> #}

    <table class="c-table">
        <thead class="c-table__header m-blink-shadow-colour__header">
            <tr>
                <th>Request</th>
                <th>Outcome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr class="m-blink-shadow-colour__text c-table__body">
                <td>{{ ticket.request }}</td>
                <td>{{ ticket.outcome }}</td>
                <td class="m-align-c"><a href="{{ path('tickets_edit', {'idtickets': ticket.idtickets}) }}" class="m-remove-underline m-blink-shadow-colour__yellow">Edit</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
